.contentContainer {
  z-index: 10;
  color: #fff;
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 25%;
  left: 5%;
}
.contentContainer h1 {
  font-size: 4.2rem;
  font-family: "Oxygen";
  margin: 0;
}
.contentContainer span {
  font-family: "Anton";
}
.contentContainer p {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Oxygen";
}

@media screen and (max-width: 768px) {
  .contentContainer {
    width: 70%;
  }
  .contentContainer h1 {
    font-size: 3.5rem;
  }
  .contentContainer p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 478px) {
  .contentContainer {
    width: 85%;
  }
  .contentContainer h1 {
    font-size: 3.2rem;
  }
  .contentContainer p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 400px) {
  .contentContainer {
    width: 90%;
  }
  .contentContainer h1 {
    font-size: 2.5rem;
  }
  .contentContainer p {
    font-size: 1rem;
  }
}
