.contentContainer {
  z-index: 10;
  color: #fff;
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 25%;
  left: 5%;
}
.contentContainer h1 {
  font-size: 4.2rem;
  font-family: "Oxygen";
  margin: 0;
}
.contentContainer span {
  font-family: "Anton";
}
.contentContainer p {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Oxygen";
}
