.container {
  width: 100%;
  padding: 0 5rem;
  margin: 4rem 0 0 0;
}

.coverPhotoContainer {
  width: 55%;
  height: 500px;
}
.coverPhotoContainer img {
  width: 100%;
  height: 100%;
}

.blogContent h1 {
  color: #ff7777;
}

.blogContent p {
  color: #666666;
  font-family: "Oxygen";
  font-size: 1.2rem;
  font-weight: 600;
}
