.container {
  width: 100%;
  padding: 5rem;
  margin: 4rem 0 0 0;
  background-color: #1e292b;
}

.coverPhotoContainer {
  width: 55%;
  height: 500px;
}
.coverPhotoContainer img {
  width: 100%;
  height: 100%;
}

.blogContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.blogContent h1 {
  color: #ff7777;
  font-size: 2rem;
  font-family: "Oxygen";
}

.tags {
  width: max-content;
  padding: 0.5rem;
  border: 2px solid #666666;
  cursor: Pointer;
}

.blogContent p {
  color: #fff;
  font-family: "Oxygen";
  font-size: 1rem;
  font-weight: 500;
}

.content {
  width: 85%;
  line-height: 2rem;
  text-align: justify;
}

.authorInfoContainer {
  display: flex;
  width: 70%;
  height: 300px;
  align-items: center;
}

.authorBio {
  display: flex;
  width: 70%;
  flex-direction: column;
  padding: 1rem;
  font-family: "Oxygen";
}

.authorBio h2 {
  color: #ff7777;
}

.authorBio p {
  line-height: 1.8rem;
  text-align: justify;
}

.authorAvatarContainer {
  width: 30%;
  height: 70%;
}
.authorAvatarContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
